<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/style_index.css">
    <title>index</title>
</head>
<body>
    <h1>Приветствуем в нашем казино!</h1>
    <form class="form-1" align="left">
        Здесь нельзя пополнить счет реальными деньгами, пока что.<br>
        Так что всё тут работает на badcoin-ах,<br>
        что добывают интелбои в шахтах Технокнязя.<br>
    </form>
    <img src="static/img/slot machine.jpg" alt="slot machine" align="right">
    <h2>У нас тут можно:</h2>
        <ul>
            <li>Порвать жеппу за 9600к</li>
            <li>Забрать у джокера 1050ti</li>
            <li>Посмотреть на схватку Лизы Су с Джейсеном Хуангом и Кржаничем Брайеном</li>
            <li>Послушать замечательные техноремиксы от RX4D</li>
        </ul>
    <button class="reg-button" name="button1" type="submit" value="http://127.0.0.1:8080/registration">зарегистрироваться или войти</button>
</body>
</html>